.nav {
  background-color: aquamarine;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
}
.first-child-nav {
  display: flex;
  justify-content: center;
  width: 10vw;
}
.second-child-nav {
  width: 83vw;
  display: flex;
  padding-left: 30vw;
  justify-content: space-between;
}

.logout-btn {
  border: none;
  outline: none;
  background-color: aquamarine;
  color: blue;
  font-size: 17px;
  cursor: pointer;
}
.cart-number {
  position: absolute;
  top: 12px;
  right: 43vw;
  color: rgb(218, 100, 32);
}
